<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Needs:</b>
  <%= @project.needs %>
</p>

<p>
  <b>Genre:</b>
  <%= @project.genre %>
</p>

<p>
  <b>Budget:</b>
  <%= @project.budget %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
